@model PlaylistManagerApp.Models.User.UserLogin
@{
    string title = "Login";
    ViewData["Title"] = title;
}

<h1>@title</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Login" method="post">
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName"class="form-control" required>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control" required>
    </div>
    <button type="submit" value="Login" class="btn btn-primary">Submit</button>
</form>