@model PlaylistManagerApp.Models.User.UserLogin
@{
    string title = "Login";
    ViewData["Title"] = title;
}

<h1 id="login-id">@title</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="login-container">
    <form asp-action="Login" method="post" class="login-form w-50">
        <div class="mb-4">
            <label asp-for="UserName" class="form-label">Username</label>
            <input asp-for="UserName" class="form-control login-field" required>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control login-field" required>
        </div>
        <button type="submit" value="Login" class="btn btn-primary login-button">Login</button>
    </form>
</div>