@model PlaylistManagerApp.Models.User.UserRegister
@{
    string title = "Register Account";
    ViewData["Title"] = title;
}

<h1 id="register-id">@title</h1>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form asp-action="Register" method="post" class="register-container">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name"class="form-control register-field" required>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email"class="form-control register-field" required>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName"class="form-control register-field" required>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control register-field" required>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control register-field" type="password" required>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" value="Register" class="btn btn-primary register-button mx-auto">Sign Up</button>
</form>