@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Playlist Manager!</h1>
    <p>An application that lets you import songs from spotify, allows you to create playlists!</p>
</div>
