html {
  font-size: 14px;
  font-family:'Product Sans', 'Arial';
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #202124;
  color: whitesmoke;
}

.nav-link:hover{
  text-decoration: underline;
}

.navbar-toggler-icon {
  color: white;
}

/* Search/Home */

.search-container{
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-header {
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 30px;
}

.search-bar{
  width:650px;
  height: 50px;
  border-radius: 25px;
  border-color: #6D7176;
  caret-color: #6D7176;
  color: whitesmoke;
  background-color: #202124;
  border: 1px solid;
  padding: 5px 20px 5px;
  margin-bottom: 20px;
}

.search-bar:hover{
  background-color: #303134;
  box-shadow: 0 0 10px;
}

.search-button{
  height: 45px;
  width: 150px;
  background-color: #303134;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 17px;
} 

.search-button:hover {
  border-color: whitesmoke;
}

.search-footer {
  background-color: #171717;
  border: none;
}

/* Register */

.register-container {
  display: block;
  width: 100%;
  text-align: center;
}

.register-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 2px solid #6D7176;
  padding: 50px 35px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register-id {
  text-align: center;
  margin-bottom: 25px;
}

.register-field {
  background-color: #303134;
  border-radius: 10px;
  border-color: #6D7176;
  caret-color: #6D7176;
  color: whitesmoke;
}

.register-field:focus {
  background-color: #303134;
  color: whitesmoke;
}

.register-field:hover{
  background-color: #303134;
  box-shadow: 0 0 10px;
}

.register-button{
  height: 45px;
  width: 150px;
  background-color: #303134;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 17px;
} 

.register-button:hover {
  border-color: whitesmoke;
}

/* Login */

.login-container {
  display: block;
  width: 100%;
  text-align: center;
}

.login-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 2px solid #6D7176;
  padding: 50px 35px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-id {
  text-align: center;
  margin-bottom: 25px;
}

.login-field {
  background-color: #303134;
  border-radius: 10px;
  border-color: #6D7176;
  caret-color: #6D7176;
  color: whitesmoke;
}

.login-field:hover{
  background-color: #303134;
  box-shadow: 0 0 10px;
}

.login-field:focus {
  background-color: #303134;
  color: whitesmoke;
}

.login-button {
  height: 45px;
  width: 150px;
  background-color: #303134;
  color: whitesmoke;
  border-radius: 5px;
  font-size: 17px;
} 

.login-button:hover {
  border-color: whitesmoke;
}

#username-display {
  color: #898b8c; 
}