@model string

<div class="text-center search-container">
    <form asp-controller="search" method="post" asp-action="Results" class="search-form">
        <h1 class="search-header">Playlist Pilot</h1>
        <label for="query"></label>
        <div class="input-goup">
            <input type="text" name="query" id="query" class="search-bar" required />
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary search-button">
                    <i class="fa fa-search"></i> Search Song 
                </button>
            </div>
        </div>
    </form>
</div>